In [ ]:
#Data types in python

In [10]:
# 1.create a list (ordered collection,mutable,allow duplicate allows)
my_list =[1,2,3,4,5]

In [2]:
#Adding element to the list 
my_list.append(9)

In [6]:
print("Updated list", my_list)

Updated list [1, 2, 4, 5, 9]

In [4]:
#Removing an element from the list
my_list.remove(3)

In [5]:
print("Updated list:",my_list)

Updated list: [1, 2, 4, 5, 9]

In [8]:
#modifying an element in the list 
my_list[1] = 10

In [9]:
print("Updated list:",my_list)

Updated list: [1, 10, 4, 5, 9]

In [11]:
# 2. create a dictionary (unordered collection of key value pair,mutable,no duplication)
my_dictionary ={"name":"harshit","age":"20","full_name":"harshit vinod singh","graduation_status":"3rd year B.Tech"}

In [12]:
print(my_dictionary)

{'name': 'harshit', 'age': '20', 'full_name': 'harshit vinod singh', 'graduation_status': '3rd year'}

In [14]:
#Adding the key pairs
my_dictionary['Gender']='male'

In [21]:
print("Updated dictionary",my_dictionary)

Updated dictionary {'name': 'harshit', 'age': '20', 'full_name': 'harshit vinod singh', 'graduation_status': '3rd year'}

In [20]:
#Removing the key value pairs
del my_dictionary['Gender']

In [22]:
print("Updated dictionary",my_dictionary)

Updated dictionary {'name': 'harshit', 'age': '20', 'full_name': 'harshit vinod singh', 'graduation_status': '3rd year'}

In [24]:
#Modifying the dictionary
my_dictionary['city']= 'Mumbai'

In [25]:
print("Updated list",my_dictionary)

Updated list {'name': 'harshit', 'age': '20', 'full_name': 'harshit vinod singh', 'graduation_status': '3rd year', 'city': 'Mumbai'}

In [26]:
# 3.Create a Set ( set is collection which is unordered,unchangeable and unindexed
mySet ={'Apple','mango','Pineapple','oranges','blueberry'}

In [27]:
print(mySet)

{'Apple', 'Pineapple', 'blueberry', 'mango', 'oranges'}

In [29]:
#Adding operation in set
mySet.add('kiwi')

In [30]:
print("updated set",mySet)

updated list {'Apple', 'Pineapple', 'blueberry', 'mango', 'oranges', 'kiwi'}

In [32]:
#Removing operation in set
mySet.remove('Apple')

In [33]:
print("Updated set",mySet)

Updated set {'Pineapple', 'blueberry', 'mango', 'oranges', 'kiwi'}

In [34]:
#modifying operation in set
mySet.discard('mango')
mySet.add("dates")

In [35]:
print("Updated set",mySet)

Updated set {'Pineapple', 'blueberry', 'dates', 'oranges', 'kiwi'}